extends layout

block content
    p #{users.length} users
    ul
        for user in users
            li
                a(href=user.url) #{user.name}
                |   #{user.email}
        else
            li no users so far
